<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305686559614-lpp6c0il1fmdvrd917u7m2cslm07ik50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305686559614-lpp6c0il1fmdvrd917u7m2cslm07ik50</string>
	<key>API_KEY</key>
	<string>AIzaSyD9HwM4avyGTtK5aVAo-oLLHkhBNd4U5PU</string>
	<key>GCM_SENDER_ID</key>
	<string>305686559614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.habittrackerapp</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-app-58990</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-app-58990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305686559614:ios:e725afeeeb1fe04660512f</string>
</dict>
</plist>